@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.dot {
  height: 40px;
  width: 44px;
  background-color: green;
  border-radius: 50%;
}

.carousel {
  width: 500px;
  height: 300px;
  overflow: hidden;
  border: 1px solid;
  display: inline-flex;
}

.carousel-item {
  width: 200px;
  height: 300px;
}


/* Range Slider */

.range-slider__input {
  -webkit-appearance: none;
  height: 0;
}

.range-slider__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 0;
}

.range-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #aaa;
  background: url('../img/pause.svg'), white;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.range-slider__input::-moz-range-track {
  -moz-appearance: none;
  height: 0px;
  background-color: orange;
}

.range-slider__input::-moz-range-progress {
  -moz-appearance: none;
  height: 0px;
}

.range-slider__input::-moz-range-thumb {
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #aaa;
  background: url('../img/pause.svg'), white;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
}


/* Range Number Input */

.range-number_input::-webkit-outer-spin-button,
.range-number_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.range-number_input {
  -moz-appearance: textfield;
}